# Elections Ad Spending Analysis in Argentina using Python(2023)

#### We collected data from Ads Transparency Center (Google) about how much money was spent during Argentina elections 2023 by political parties in formats like text, videos or image. In particular, we perform elections ad spending analysis - EDA - using Python.

## Data Collection

We extract the dataset from Ads Transparency Center which format is in Google Sheet. We transform this and download it in a .csv format. 

We import the library pandas for dataframe manipulation.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.colors as mcolor
import numpy as np

In [ ]:
df_ads = pd.read_csv("/home/andy/Descargas/ds_googleads.csv") #cambiar esto, quiero que me aparezca
                                                                #sólo el nombre de la carpeta
print("Shape of dataset: ", df_ads.shape)

In [ ]:
# Let's see the column names
df_ads.keys()

In [ ]:
# Let's check it out the first URL 
df_ads['Ad_URL'][0]

In [ ]:
#Checking number of elements from 'Advertiser_ID' column
len(df_ads['Advertiser_ID'].unique())

In [ ]:
#Let's check one Ad_ID element from the same column
ucrn = 'AR16124137016865587201'
df_ads[df_ads['Advertiser_ID'] == ucrn]

In [ ]:
#Checking another element from 'Advertiser_ID'
fr = 'AR14823408713892626433'
df_ads[df_ads['Advertiser_ID'] == fr]

In [ ]:
#showing the first 5 rows of our dataframe
df_ads.head()

### Data Cleaning & Data Preprocessing

In [ ]:
# Let's check dataframe type
display(type(df_ads))

In [16]:
display(df_ads)

,Ad_ID,Ad_URL,Ad_Type,Regions,Advertiser_ID,Advertiser_Name,Ad_Campaigns_List,Date_Range_Start,Date_Range_End,Num_of_Days,...,First_Served_Timestamp,Last_Served_Timestamp,Age_Targeting,Gender_Targeting,Geo_Targeting_Included,Geo_Targeting_Excluded,Spend_Range_Min_USD,Spend_Range_Max_USD,Spend_Range_Min_ARS,Spend_Range_Max_ARS
0,CR10079170796300795905,https://adstransparency.google.com/advertiser/...,IMAGE,AR,AR14823408713892626433,Fernando Rossetto,NaN,2023-04-20,2023-05-09,17,...,2023-04-20T19:36:00Z,2023-05-09T10:43:00Z,NaN,NaN,"Tucuman,Argentina",NaN,"0,00","100,00","30.000,00","45.000,00"
1,CR07383048713104523265,https://adstransparency.google.com/advertiser/...,IMAGE,AR,AR14823408713892626433,Fernando Rossetto,NaN,2023-04-12,2023-04-19,8,...,2023-04-12T07:26:00Z,2023-04-19T19:16:00Z,NaN,NaN,"Tucuman,Argentina",NaN,"0,00","100,00","45.000,00","60.000,00"
2,CR08190079252775829505,https://adstransparency.google.com/advertiser/...,TEXT,AR,AR17825122736721100801,Guillermo Carricavur,NaN,2023-03-31,2023-04-15,15,...,2023-03-31T00:21:00Z,2023-04-15T04:09:00Z,NaN,NaN,"Rio Negro,Argentina",NaN,"0,00","100,00","0,00","15.000,00"
3,CR06020378872824987649,https://adstransparency.google.com/advertiser/...,IMAGE,AR,AR17825122736721100801,Guillermo Carricavur,NaN,2023-03-29,2023-03-29,2,...,2023-03-29T00:20:00Z,2023-03-29T09:13:00Z,NaN,NaN,"Rio Negro,Argentina",NaN,"0,00","100,00","0,00","15.000,00"
4,CR01904118294063874049,https://adstransparency.google.com/advertiser/...,TEXT,AR,AR16558549250636513281,NUEVAS NOTICIAS COOPERATIVA DE TRABAJO LIMITADA,NaN,2022-09-12,2023-05-09,238,...,2022-09-12T07:00:00Z,2023-05-09T11:03:00Z,NaN,NaN,"Argentina, Buenos Aires Province,Argentina, Bu...",NaN,"0,00","100,00","0,00","15.000,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5808,CR01746279345447501825,https://adstransparency.google.com/advertiser/...,IMAGE,AR,AR15520420058504364033,Primero La Pampa,NaN,2023-01-26,2023-01-27,2,...,2023-01-26T15:46:00Z,2023-01-27T13:53:00Z,NaN,NaN,"La Pampa,Argentina",NaN,"0,00","100,00","0,00","15.000,00"
5809,CR06369083625454960641,https://adstransparency.google.com/advertiser/...,VIDEO,AR,AR15520420058504364033,Primero La Pampa,NaN,2023-01-26,2023-01-27,2,...,2023-01-26T23:16:00Z,2023-01-27T22:40:00Z,"18-24, 25-34, 35-44, 45-54, 55-64, ≥65, Unknow...","Male, Female, Unknown gender","La Pampa,Argentina",NaN,"0,00","100,00","15.000,00","30.000,00"
5810,CR14634596316563374081,https://adstransparency.google.com/advertiser/...,IMAGE,AR,AR15520420058504364033,Primero La Pampa,NaN,2023-01-26,2023-01-27,2,...,2023-01-26T19:53:00Z,2023-01-27T13:49:00Z,NaN,NaN,"La Pampa,Argentina",NaN,"0,00","100,00","0,00","15.000,00"
5811,CR03606406729039872001,https://adstransparency.google.com/advertiser/...,IMAGE,AR,AR15520420058504364033,Primero La Pampa,NaN,2023-01-26,2023-01-27,2,...,2023-01-26T19:53:00Z,2023-01-27T13:49:00Z,NaN,NaN,"La Pampa,Argentina",NaN,"0,00","100,00","0,00","15.000,00"
5812,CR12197502405318803457,https://adstransparency.google.com/advertiser/...,IMAGE,AR,AR15520420058504364033,Primero La Pampa,NaN,2023-01-25,2023-01-27,3,...,2023-01-25T21:33:00Z,2023-01-27T20:37:00Z,NaN,NaN,"La Pampa,Argentina",NaN,"0,00","100,00","15.000,00","30.000,00"

In [ ]:
#Let's drop NaN values from the dataframe as 
#Ad_Campaigns_List, Age_Targeting, Gender_Targeting,  Geo_Targeting_Excluded.

df_ads = df_ads.drop(['Ad_Campaigns_List','Age_Targeting','Gender_Targeting', 'Geo_Targeting_Excluded','Spend_USD'],axis=1)

display(df_ads.head())

In [ ]:
df_ads.keys()

In [ ]:
# Let's see summary statistics, for example, of Spend_Range_Max_ARS:
print(df_ads['Spend_Range_Max_ARS'])

In [ ]:
# We convert the data type:'Spend_Range_Max_ARS'  to float
df_ads['Spend_Range_Max_ARS'] = df_ads['Spend_Range_Max_ARS'].astype(float)

# Displaying the updated data types
print(df_ads.dtypes)

In [ ]:
#Given that the inner elements from column 'Spend_Range_Max_AR' has a typing error,
# we fix it in the following way: 

# We remove the thousand separator and replace the decimal separator
df_ads['Spend_Range_Max_ARS'] = df_ads['Spend_Range_Max_ARS'].str.replace('.', '', regex=False).str.replace(',', '.', regex=False)

# We convert the column to float
df_ads['Spend_Range_Max_ARS'] = df_ads['Spend_Range_Max_ARS'].astype(float)

# Displaying the updated DataFrame and data types for checking output
display(df_ads)
display(df_ads.dtypes)

In [ ]:
# Applying Descriptive statistics to the column 'Spend_Range_Max_ARS'
display(df_ads['Spend_Range_Max_ARS'].describe())

In [ ]:
#Let's plot an histogram of this values
df_ads['Spend_Range_Max_ARS'].hist(bins=100)

#plt.xlim(0, 100000) #TODO (RESEARCH)

In [ ]:
#We calculate the mode (most frequent value) of the column 'Spend_Range_Max_ARS':
df_ads['Spend_Range_Max_ARS'].value_counts()

### Ad Spend Analysis

In [ ]:
# Get unique ID types
unique_ads = df_ads['Advertiser_ID'].unique()
display("Unique Ad ID:", unique_ads)

In [ ]:
#agrupar los valores de dinero que gastó cada Advertiser Id para poder plotear.
#Iterar por cada persona, filtrar el data frame, sumar cuanto gastó cada uno, y hacer el plot the barras.

df_grouped = df_ads.groupby(['Advertiser_ID'])['Spend_Range_Max_ARS'].sum().reset_index()
display(df_grouped)

In [ ]:
#Iterar por cda ID único y filtrar , obtener la columna de nombres y chequear que sean iguales

unique_ids = df_ads['Advertiser_ID'].unique()  # Obtener IDs únicos

for unique_id in unique_ids:
    #Filtrar las filas correspondientes al ID actual
    df_filtered = df_ads[df_ads['Advertiser_ID'] == unique_id]
    
    # Obtener los nombres únicos asociados al ID actual
    unique_names = df_filtered['Advertiser_Name'].unique()
    
    # Verificar si todos los nombres son iguales
    if len(unique_names) == 1:
        print(f"Todos los nombres para el ID {unique_id} son iguales: {unique_names[0]}")
    else:
        print(f"Los nombres para el ID {unique_id} son diferentes: {unique_names}")

In [ ]:
df_ads[df_ads['Advertiser_ID'] == 'AR00104862416805822465' ]['Spend_Range_Max_ARS'].sum()

In [ ]:
df_ads[df_ads['Advertiser_ID'] == 'AR00104862416805822465' ]['Spend_Range_Max_ARS']#.sum()

In [ ]:
df_ads[df_ads['Advertiser_ID'] == 'AR18101017142164979713' ]['Spend_Range_Max_ARS'].sum()

In [ ]:
suma_elem = sum(df_ads[df_ads['Advertiser_ID'] == 'AR18101017142164979713' ]['Spend_Range_Max_ARS'].tolist())
print(suma_elem)

#### Plot bar

In [ ]:
#
df_top_advertisers = df_grouped.nlargest(20, 'Spend_Range_Max_ARS')

# Creating the bar plot
plt.figure(figsize=(10, 6))
plt.bar(df_top_advertisers['Advertiser_ID'], df_top_advertisers['Spend_Range_Max_ARS'], color='cornflowerblue')

# Customizing the plot
plt.xlabel('Advertiser_ID')
plt.ylabel('Spend_Range_Max_ARS')
plt.title('Total Amount Spent by Each Advertiser')
plt.xticks(rotation=90)

# Showing the plot
plt.show()

In [ ]:

# Crear un diccionario de mapeo de Advertiser_ID a Advertiser_Name
id_to_name_mapping = df_ads.set_index('Advertiser_ID')['Advertiser_Name'].to_dict()


# Obtener los 20 mayores anunciantes por gasto
df_top_advertisers_by_name= df_ads.groupby('Advertiser_ID').agg({'Spend_Range_Max_ARS': 'sum'}).nlargest(20, 'Spend_Range_Max_ARS').reset_index()

# Cambiar los IDs a nombres usando el mapeo
df_top_advertisers_by_name['Advertiser_Name'] = df_top_advertisers_by_name['Advertiser_ID'].map(id_to_name_mapping)

# Crear el gráfico de barras con los nombres de los anunciantes en lugar de IDs
plt.figure(figsize=(10, 6))
plt.bar(df_top_advertisers_by_name['Advertiser_Name'], df_top_advertisers_by_name['Spend_Range_Max_ARS'], color='mediumpurple')

# Personalizar el gráfico
plt.xlabel('Advertiser Name')
plt.ylabel('Spend_Range_Max_ARS')
plt.title('Top 20 Advertisers by Spend')
plt.xticks(rotation=90)

# Mostrar el gráfico
plt.show()